@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway');

$primary-white: #fcfdff;
$secondary-white: hsl(0, 2%, 64%);
$tertiary-white: hsl(0, 2%, 22%);
$primary-black: #222226;
$primary-gray: #444;


$montserrat: 'Montserrat', sans-serif;
$raleway: 'Raleway', sans-serif;