.citygrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-gap: 50px;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  align-items: stretch;
  justify-items: center;
}